<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon"  type="image/png" href="/images/7b2ef8d698e5425aba4de9b447ebc11c (1).png">
    <title>INTERNY</title>
    
</head>
<body>

    {{{body}}}
    
</body>
</html>