{{>header-admin}}
<br><br>
<br><br>
<h1>Dashboard</h1>

<p>Number of offers: {{data.offreCount}}</p>
<p>Number of users: {{data.userCount}}</p>
<p>Number of interns: {{data.stagiaireCount}}</p>
<p>Number of comments: {{data.commentaireCount}}</p>
<p>Number of companies: </p>


<br><br>



<br><br>
{{>footer-admin}}